*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
.vscode/
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.history/
*.code-workspace
*.VisualState.xml
TestResult.xml
nunit-*.xml
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
project.lock.json
project.fragment.lock.json
artifacts/
ScaffoldingReadMe.txt
StyleCopReport.xml
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*_i.asm
*_p.asm
*.cachefile
*.dbmdl
*.bak
*.backup
*.swp
*.orig
*.rej
*.dotCover
.azure-pipelines/
.localhistory/
.idea/
*.sln.iml
secrets.json
App_Data/
*.mdf
*.ldf
.idea/
*.sln.iml
.env
.env.*
node_modules/
obj
bin
obj/
bin/
**/bin/
**/obj/
